.header{
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:5rem;
    background-color: rgb(131, 0, 0);
    color: white;
    justify-content: space-around;
    align-items: center;
}

img{
    background-repeat: no-repeat;
    background-size: cover;
    width:1368px;
    height:600px;
    margin:-10px;
}




